 #mainheader{
    background:white !important;
    position: fixed;
    z-index: 1;
} 
#myLineChart,#myChart,#myPieChart,#myDoughnutChart,#myBarChart{
    /* background:#414560 !important; */
}
form{
    /* margin-top:100px !important;
    padding-top: 66px !important; */
}
#formdiv{
    background: white !important;
}
#shipadresdiv{
    margin-bottom: 4px;
}
#form2,#form4{
margin-left: 30px;
}
.container-fluid{
    margin-left:58px;
    margin-right: 58px;
}
.waves-effect{
    width:13%;
    margin-bottom: 20px;
    left:87%;
}
#form1,#form3{
    margin-left:20px;
}
.prefix{
    font-size:26px !important;
    margin-top:3px;
}
.btn .btn-warning{
    margin-top: 43px;
    height: 48px;
}
.rowadj{
    margin-bottom: 0px !important;
}
.input-field{
    margin-top:2px;
    margin-bottom: 2px;
    float: right;
}
#donughnutdiv{
    /* width:381px !important; */
    height:193px !important;
    background: white;
    margin-left:22px;
    /* box-shadow:2px 2px 2px -1px; */
    box-shadow:3px 3px 3px -3px;
    height:218px !important ;
    width: 310px;

}
.paydiv1{
    padding-bottom: 14px;
    padding-top: 36px;
}
.paydiv2{
    padding-bottom: 19px;
    padding-top: 10px;
}
.paydiv3{
    padding-top: 12px;
}
#myDoughnutChart{
    width:327px !important;
    padding-top: 18px;
    height: 184px !important;
    padding-right: 17px;

}
button.btn.btn-primary{
    float: right;
}
.breadcrumb:before{
    color:blue !important;
}
.breadcrumb{
color:blue !important;
}
#myChart{
    height:210px !important;
    width:487px !important;
}
#firstbachart{
     /* width:419px !important;  */
     /* width:370px !important; */

     height:216px !important;
     background:white !important;
     margin-left:22px;
     box-shadow:3px 3px 3px -3px;
    }
    textarea{
        height: 7rem !important;
    }
@media only screen and (min-width: 601px){
.row .col.m8 {
width:56.666667% !important;
}
}

li.tab.col.s2 {
    width: 225px;
}
#feediv{
    margin-left:30px;
}
#myPieChart{
     width: 476px !important; 
     height: 239px !important; 
    background: white;
    box-shadow:3px 3px 3px -3px;
}
#linechart{

    margin-left: 30px !important;

}
/* #tabsdiv{
    position: absolute;
    top: 30%;
} */
#scndbarchart{
   background: white;
   box-shadow:3px 3px 3px -3px;

   
}
#myLineChart{
     width: 477px !important;
    height: 274px !important; 
    background:white;
    box-shadow:3px 3px 3px -3px;


}
#myBarChart{
    width:866px !important;
    height:285px !important;
}
#dotasks{
    padding: 0px !important;
    margin-left:20px;
  
    /* padding-bottom: 7px !important; */
}
.material-icons{
    /* padding-left: 20px !important;
    padding-right: 21px !important; */
}
#calendar{
    background: yellowgreen;
    /* width:519px; */
    height:500px;
}

.calendar-content{
    width: 419px !important;
}
#helpicn,#bellicn{
    margin-right: 20px;
    margin-left:5px;
    color:yellowgreen;
}
#bellicn{
    font-size: 21px;
    color: yellowgreen;
}
#exiticn{
    margin-right: 100px !important;
    margin-left:5px;
    color:yellowgreen;

}
.card .card-content{
padding-bottom: 11px !important;
}
#addicn{
    float: right;
}
#tododiv{
    color: white;
}
#breadcrumbnav{
    background: white;
    position: absolute;
    top:112%;
    width:100%;
}
 /* a.sidenav-trigger i{
    position: absolute;
    top:3%; 
    z-index:1;
    color:navy !important;
    font-size: 30px;
    float: right;
}   */
.sidenav .sidenav-fixed{
    top:20%;
}
 .card-title{
    font-weight: bold;
    font-size:20px; 
    /* float: right; */
} 
#tblcontact{
border:1 !important;
}
.sidenav{
    width:260px;
}
p{
    font-weight:bold;
    font-size:16px;
    /* float: right; */

}
#logo{
    margin-left:1px;
    margin-top:17px;
    height:35px;
}
.cardinvoice{
    background: linear-gradient(50deg,#8ef9fe,#263238)!important;
    border-radius:9px;
}
.cardrevenue{
    background:linear-gradient(50deg,#f59e99,#e91e63)!important;
    border-radius: 9px;
}
body{
    /* background:#272937; */
    /* background: #e6d9d9; */
    background: #EBEEEF !important;
}
#charts{
    /* height: 309px;
    width:498px; */
}
#todopiediv{
    /* height: 277px !important; */
}
i.fa.fa-chevron-left.rotate{
    font-size: 12px;
    color: cadetblue;
}

.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.rotate.down {
    -moz-transform:rotate(-89deg);
    -webkit-transform:rotate(-89deg);
    transform:rotate(-89deg);
}
 a .micon{
     /* position: absolute;
    top:2%; 
    right:79%; */
    color:#606060 !important;
    font-size: 30px !important;
    z-index:1 !important;
} 
 /* .tabs .tab a:hover, .tabs .tab a.active {
    background-color: lightblue !important;
    color: blue !important;
} */
.card .card-content .card-title { 
    font-weight: 440;
}
.th{
    background: navy;
color: white;
}
#invcform{
    padding-left: 43px;
}
#test4,#test5,#test1,#test2,#cnttbl,#test3{
    background: white;
    border: 1px solid lightgray;
    margin-top: 10px;
}

.tabs .tab a{
color:#fff;
font-size:18px;
font-style: italic;
text-transform:capitalize;
font-weight: bold;
padding-left:30px;
border:2px solid lightblue;
}
.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #272424;
}
.tabs{
    background-color:#38A1CA;
}
.input-field{
    width: 300px;
}
.subitem{
    margin-left: 50px;
    font-size:16px;
}
.sidenav li>a{
    color:cadetblue !important;
}
@media only screen and (min-width: 993px){
nav a.sidenav-trigger {
    display: block;
}
}
.unit,#ttl,#avr,#ldc{
    text-align:right;
}
.cardleads{
    background:linear-gradient(50deg,#ffd86f,#ff7043)!important;
    border-radius:9px;
}
.card{
    height:118px !important;
    width: 266px !important;
    /* box-shadow: 6px 3px; */
}
.firsticon{
    display: inline-block; 
    position:absolute;
    color: #fff3f754;
    top:12%;
    left:-3%;
    font-size:81px !important;    
}
li.active{
    background: white;
    color: black;
}

.cards{
    height: auto !important;
}

.sidenav{
    background-color: white!important;
}
a.collapsible-header{
padding-left: 30px !important;
}
 .sidenav li>a>i.material-icons {
margin:0 15px 0 0 !important;
color: cadetblue;
 }

 